/*---------CUSTOMIZAÇÃO DO CORPO DA PÁGINA----------*/

body {
    margin: 0; /*retirar as margens da página*/
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth; /*suaviza o deslocamento da página*/
}

/*-----------------CUSTOMIZAÇÃO DO HEADER-------------------*/

header {
    display: flex;
    justify-content: space-between; /*adiciona um espaço entre o logo e os botões da navbar*/
    align-items: center; /*faz o alinhamento dos itens na horizontal no centro da navbar*/
    padding: 20px 25px 20px 25px; /*borda dos itens dentro do padding no sentido horário*/
    background-color: rgb(0, 0, 0);
}

/*----------------CUSTOMIZAÇÃO DO LOGO DA NAVBAR--------------------*/

.logoNav {
    width: 170px; /*define o tamanho do logo*/
}

/*----------CUSTOMIZAÇÃO DOS BOTÕES DA NAVBAR-----------*/

.nav_head ul {
    padding-left: 0;
    list-style: none; /*desabilita o estilo de lista*/
    display: flex;
    gap: 30px; /*espaçamento entre os botões da navbar*/
}

.nav_head a {
    text-decoration: none; /*desabilita o estilo de "hiperlink" dos botões*/
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.nav_head li a:hover {
    background-color: #F20000;
}

/*------------CORPO DA PÁGINA DE FORMULÁRIO--------------*/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main p {
    text-align: center;
    font-size: 18px;
}

/*-----------------CUSTOMIZAÇÃO FORMULÁRIO-----------------*/
fieldset {
    margin: 20px;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: #590006;
    background: linear-gradient(147deg, rgba(89, 0, 6, 1) 0%, rgba(189, 0, 0, 1) 50%, rgba(89, 0, 6, 1) 100%);
}

/*---------primeiro bloco do formulário-------------*/
.bloco_A {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info_A {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info_A input {
    width: 125%;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.info_B {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info_B input {
    height: 25px;
    border-radius: 5px;
    border: none;
}

/*-----------segundo bloco do formulário-------------*/
.bloco_B {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bloco_B label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bloco_B select {
    height: 25px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

/*--------------caixa de texto----------------*/
.caixa_texto {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.caixa_texto textarea {
    border-radius: 5px;
    border: none;
}

/*-------------div preferencia de contato---------------*/

.contato_preferencia {
    margin-bottom: 20px;
}

.contato_preferencia input {
    border: none;
    margin: 3px;
}

/*--------------div deseja recebar email-------------*/
.email {
    margin-bottom: 30px;
}

.email input {
    margin: 3px;
    border: none;
}

/*--------------botão enviar----------------*/

.enviar {
    display: flex;
    justify-content: center;
}

.enviar input {
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 5px 35px 5px 35px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.enviar input:hover {
    background-color: #F20000;
    color: white;
    transform: scale(1.1);
}