/*---------CUSTOMIZAÇÃO DO CORPO DA PÁGINA----------*/

body {
    margin: 0; /*retirar as margens da página*/
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth; /*suaviza o deslocamento da página*/
}

/*-----------------CUSTOMIZAÇÃO DO HEADER-------------------*/

header {
    display: flex;
    justify-content: space-between; /*adiciona um espaço entre o logo e os botões da navbar*/
    align-items: center; /*faz o alinhamento dos itens na horizontal no centro da navbar*/
    padding: 10px 15px 10px 15px; /*borda dos itens dentro do padding no sentido horário*/
    background-color: rgb(0, 0, 0);
}

/*----------------CUSTOMIZAÇÃO DO LOGO DA NAVBAR--------------------*/

.logoNav {
    width: 170px; /*define o tamanho do logo*/
}

/*----------CUSTOMIZAÇÃO DOS BOTÕES DA NAVBAR-----------*/

.nav_head ul {
    padding-left: 0;
    list-style: none; /*desabilita o estilo de lista*/
    display: flex;
    gap: 30px; /*espaçamento entre os botões da navbar*/
}

.nav_head a {
    text-decoration: none; /*desabilita o estilo de "hiperlink" dos botões*/
    color: white; /*font-weight: bold;*/
    font-size: 18px;
}

.nav_head li a:hover {
    color: #F20000;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

/*-------------------------CUSTOMIZAÇÃO DO FOOTER---------------------------*/

footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 10px 0 15px 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

footer img {
    width: 160px; /*tamanho da logo do footer*/
    height: auto;
}

.rodape {
    display: flex;
    gap: 30px; /*espaçamento entre os links*/
    flex-wrap: wrap;
    margin-top: 20px; /*espaçamento entre a logo e os links */
}

.rodape a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px; /*tamanho da font dos links do footer*/
    transition: color 0.3s linear;
    gap: 8px; /*espaçamento entre os icones e os links*/
}

.rodape a:hover {
    color: #F20000; /*cor ao passar o cursor nos links do footer*/
}

.icon-whats {
    color: #25D366; /*Aplica cor no icone do Whatsapp*/
}

.icon-insta {
    color: #E1306C; /*Aplica cor no icone do Instagram*/
}